.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  position: relative; /* z-index 적용을 위해 */
  z-index: 10;
}

.top-bar h2 {
  margin: 0;
  font-family: "Ownglyph_ryuttung-Rg";
  color: black; /* 텍스트 색상 명시 */
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 5px 15px;
  font-size: 14px;
  margin: 0 5px; /* 버튼 간격 조정 */
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-family: "Ownglyph_ryuttung-Rg";
  font-size: 18px;
}

.main-view {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

/* Auth Pages */
.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
